In [67]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [69]:
# File to Load
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [71]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [73]:
# Combine the data into a single dataset
school_data_complete =pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [75]:
# Total number of unique schools
school_count = school_data_complete["school_name"].nunique()
school_count

15

In [77]:
# Total students
student_count = school_data_complete["school_name"].count()
student_count

39170

In [79]:
# Total Budget
total_budget = school_data_complete["budget"].sum()
total_budget

82932329558

In [81]:
# Average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [83]:
# Average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [85]:
# % passing math
passing_math = school_data_complete[school_data_complete['math_score'] >=70]
percent_passing_math = (passing_math['student_name'].count()/student_count)*100
percent_passing_math

74.9808526933878

In [87]:
# % passing math
passing_reading = school_data_complete[school_data_complete['reading_score'] >=70]
percent_passing_reading = (passing_reading['student_name'].count()/student_count)*100
percent_passing_reading

85.80546336482001

In [89]:
# % overall passing (students who passed both math and reading)
passing_both = school_data_complete[(school_data_complete['reading_score'] >=70) & (school_data_complete['math_score'] >=70)]
percent_passing_both = (passing_both['student_name'].count()/student_count)*100
percent_passing_both

65.17232575950983

In [91]:
district_summary = pd.DataFrame({
    'Total Schools':[school_count],
    'Total Students':[student_count],
    'Total Budget':[total_budget],
    'Average Math Score':[average_math_score],
    'Average Reading Score':[average_reading_score],
    '% Passing Math': [percent_passing_math],
    '% Passing Reading': [percent_passing_reading],
    '% Overall Passing': [percent_passing_both]
})

In [93]:
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("{:,}".format)

#DataFrame display
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","82,932,329,558",78.985371,81.87784,74.980853,85.805463,65.172326

In [95]:
#Type of school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [97]:
# Total School
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [99]:
#total school budget
per_school_budget= school_data.set_index("school_name")["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [101]:
# Per Student Budget
per_student_budget = per_school_budget / per_school_counts
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [103]:
# school math scores
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
school_students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["student_name"].count()

print
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [105]:
# school reading score
per_school_reading =  school_data_complete.groupby('school_name')[['reading_score']].mean()
school_students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["student_name"].count()

print
per_school_reading

                       reading_score
school_name
Bailey High School         81.033963
Cabrera High School        83.975780
Figueroa High School       81.158020
Ford High School           80.746258
Griffin High School        83.816757
Hernandez High School      80.934412
Holden High School         83.814988
Huang High School          81.182722
Johnson High School        80.966394
Pena High School           84.044699
Rodriguez High School      80.744686
Shelton High School        83.725724
Thomas High School         83.848930
Wilson High School         83.989488
Wright High School         83.955000

In [107]:
# % Passing math
passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["student_name"].count()
percent_passing_math = (passing_math / per_school_counts) * 100
percent_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [109]:
# % Passing reading 

passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["student_name"].count()
percent_passing_reading = (passing_reading / per_school_counts) * 100
percent_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [111]:
# % passing reading
overall_passing = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].groupby("school_name")["student_name"].count()
percent_overall_passing = (overall_passing / per_school_counts) * 100
percent_overall_passing

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [113]:
# Flatten the per_school_reading array
per_school_reading = per_school_reading.values.flatten()

In [115]:
# Create DataFrame
per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_student_budget,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": percent_passing_math,
    "% Passing Reading": percent_passing_reading,
    "% Overall Passing": percent_overall_passing
})


# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [117]:
# Highest-Performing Schools (by % Overall Passing)¶
top_schools = per_school_summary.sort_values(by="% Overall Passing", ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [119]:
# Bottom Performing Schools (By % Overall Passing)
bottom_schools = per_school_summary.sort_values(by="% Overall Passing", ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [121]:
#Math scores by Grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by school name and take the mean of the math_score for each grade
ninth_grade_math_scores = student_data[student_data['grade'] == '9th'].groupby('school_name')['math_score'].mean().reset_index()
tenth_grade_math_scores = student_data[student_data['grade'] == '10th'].groupby('school_name')['math_score'].mean().reset_index()
eleventh_grade_math_scores = student_data[student_data['grade'] == '11th'].groupby('school_name')['math_score'].mean().reset_index()
twelfth_grade_math_scores = student_data[student_data['grade'] == '12th'].groupby('school_name')['math_score'].mean().reset_index()

# Combine each of the scores into a single DataFrame
math_scores_by_grade = pd.concat([ninth_grade_math_scores.set_index('school_name'),
                                   tenth_grade_math_scores.set_index('school_name'),
                                   eleventh_grade_math_scores.set_index('school_name'),
                                   twelfth_grade_math_scores.set_index('school_name')],
                                  axis=1)

# Rename the columns for clarity
math_scores_by_grade.columns = ['9th Grade Math Score', '10th Grade Math Score', 
                                 '11th Grade Math Score', '12th Grade Math Score']

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

,9th Grade Math Score,10th Grade Math Score,11th Grade Math Score,12th Grade Math Score
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

In [123]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `reading_score` column for each grade
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean().reset_index()
tenth_grade_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean().reset_index()
eleventh_grade_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean().reset_index()
twelfth_grade_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean().reset_index()

# Combine each of the scores above into a single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.concat([ninth_grade_reading_scores.set_index('school_name'),
                                     tenth_grade_reading_scores.set_index('school_name'),
                                     eleventh_grade_reading_scores.set_index('school_name'),
                                     twelfth_grade_reading_scores.set_index('school_name')],
                                    axis=1)

# Rename the columns for clarity
reading_scores_by_grade.columns = ['9th Grade Reading Score', '10th Grade Reading Score', 
                                    '11th Grade Reading Score', '12th Grade Reading Score']

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th Grade Reading Score", "10th Grade Reading Score", 
                                                     "11th Grade Reading Score", "12th Grade Reading Score"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

,9th Grade Reading Score,10th Grade Reading Score,11th Grade Reading Score,12th Grade Reading Score
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

In [125]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [127]:
# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()

In [129]:
print(school_spending_df.columns)

Index(['School Type', 'Total Students', 'Total School Budget',
       'Per Student Budget', 'Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reading', '% Overall Passing'],
      dtype='object')

In [131]:
 #Use `pd.cut` to categorize per student spending based on the bins
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], 
                                                               bins=spending_bins, 
                                                               labels=labels, 
                                                               include_lowest=True)

# Convert Spending Ranges (Per Student) to a string if needed
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)

# Display the DataFrame to see the new column
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [133]:
school_spending_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, Bailey High School to Wright High School
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   School Type                    15 non-null     object
 1   Total Students                 15 non-null     int64
 2   Total School Budget            15 non-null     int64
 3   Per Student Budget             15 non-null     float64
 4   Average Math Score             15 non-null     float64
 5   Average Reading Score          15 non-null     float64
 6   % Passing Math                 15 non-null     float64
 7   % Passing Reading              15 non-null     float64
 8   % Overall Passing              15 non-null     float64
 9   Spending Ranges (Per Student)  15 non-null     object
dtypes: float64(6), int64(2), object(2)
memory usage: 1.3+ KB

In [135]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [173]:
# Assuming you have calculated the averages as shown in the previous context
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# Display the spending summary DataFrame
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855
<$585,83.455399,83.933814,93.460096,96.610877,90.369459

In [159]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [161]:
# Create a copy of the school summary for later aggregations
school_size_df = per_school_summary.copy()

In [163]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
school_size_df["School Size"] = pd.cut(per_school_counts, size_bins, labels=labels)

# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
school_size_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [167]:
# Calculate averages for the desired columns.
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

In [169]:
# Create a new DataFrame to summarize the results
type_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# Display the size_summary DataFrame
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853